*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: wheat;
}

.ml-100{
    margin-left: 100px;
}
.c-menubar:hover{
    color: rgb(226, 20, 120) !important;
}

#dot{
    color: rgb(226, 20, 120);
    font-size: 40px;
}
.home{
    background-image: url(img/background.jpg);
    height: 70vh;
}
.pt-20{
    padding-top: 20px;
}
#btn-shopnow{
    border-radius: 15px;
}

#btn-shopnow:hover{
    color: white;
    background-color: rgb(179, 17, 90);
    border-radius: 15px;
    cursor: pointer;
    border-color: white;
}
.homesh{
    color: rgb(176, 10, 113);
}

.rbc{
    background-color: white;
    height: 780px;
    
}
.about{
    background-color: white;
    padding: 30px 0 30px 0;
}
.pl-43{
    padding-left: 43px;
}
.about span{
    color: rgb(176, 10, 113);
}
.wtcu{
    position: sticky;
    padding-left: 20px;
    padding-right: 100px;
}
.videocontainer video{
    width: 100%;
    border: 1px solid white;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
    height: 50%;
    object-fit: cover;
}
.btn-learnmore{
    border-radius: 20px;
}
.btn-learnmore:hover{
    color: white;
    background-color: rgb(176, 10, 113);
    border-color: white; 

}
.rbc .videocontainer{
    position: relative;
}
.rbc .videocontainer h3{
    position: absolute;
    top: 23%; translateY(-50);
    background-color: white;
    width: 94%;
    mix-blend-mode: screen;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.icon{
    display: contents;
}
.p-icon{
    background-color: lightgrey;
    justify-content: space-around;
}
.m-20{
    margin: 20px;
}
.bc{
    background-color: white;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.fs-s{
    font-size: small;
}
.bc span{
    padding-top: 10px;
}
.products{
    background-color: white;
    height: 100%;
}
.headingproduct{
    margin: 25px;
}
.headingproduct span{
    color:  rgb(176, 10, 113);
}
.productbc{
    background-color: white;
    padding-top: 7px;
    display: flex;
    justify-content: center;
    gap: 52px;
}
.discount{
    color:  rgb(176, 10, 113);
}
.flower1{
    border: 1px solid lightgrey;
    background-color: white;
    width: 13rem;
    border: 1px solid lightgrey;
    box-shadow: 0.5rem 1rem rgba(220, 123, 183, 0.1);
    position: relative;
}
.flower1:hover .iconproduct{
bottom: 70px;
opacity: 1;
}
.discount{
    position: absolute;
    margin-bottom: 0;
}
.image-product{
    
    overflow: hidden;
    width: 8rem;
    margin-left: 23px;
    padding-top: 25px;
}
.image-product3{
    padding-top: 25px;
}
.image-product6{
    padding-top: 25px;
}
.image-product7{
   
    overflow: hidden;
    width: 8rem;
    margin-left: 23px;
    padding-top: 26px;

    padding-top: 25px;
}
.image-product9{
    padding-top: 25px;
}
.image-product4{
padding-top: 30px;
}
.image-product:hover{
transform: scale(1.1);
}
.image-product3:hover{
transform: scale(1.1);
}
.image-product6:hover{
    transform: scale(1.1);
    }
    .image-product7:hover{
        transform: scale(1.1);
        }
    .image-product9:hover{
        transform: scale(1.1);
        }
.price{
    margin-left: 50px;
}
.pricespan{
    font-size: 13px;
    text-decoration-line: line-through;
}
.flower-pot{
    margin-left: 50px;
    padding-top: 15px;
}
.total-price{
    color:  rgb(176, 10, 113);
}
.top-padding-42{
    padding-top: 42px;
}
.top-padding-43{
    padding-top: 43px;
}
.toppadding-47{
    padding-top: 47px;
}


.iconproduct{
    background-color: rgb(176, 10, 113);
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    opacity: 0;
    position: absolute;
    bottom: -28px;
    transition: 1.5s;
}


.iconproduct i{
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    width: 30px;
    background-color: rgb(176, 10, 113);
    color: white;
}
.m-t-10{
    margin-top: 10px;
}
.iconproduct button{
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    width: 130px;
    background-color: rgb(176, 10, 113);
    color: white;
    border-left: 0.2px solid white;
    border-right: 0.2px solid white;

}
.iconproduct button:hover{
    background-color: black;
}
.iconproduct i:hover{
    background-color: black;
}

button{
    background-color: rgb(176, 10, 113);
    border: rgb(176, 10, 113);

}
.m-22{
    margin: 40px 0 22px 0;
}
.headingreview{
    color:  rgb(176, 10, 113);
}

.star{
   color:  rgb(176, 10, 113);
}
.customer{
    width: 330px;
}
.review{
    background-color: white;
}
.image{
    display: inline;
    width: 64px;
    height: 65px;
    border-radius: 54px;
}
.contactus{
    background-color: white;
}
.contact{
    display: inline;
    color:  rgb(176, 10, 113);
}
.us{
    font-size: 25px;
}
.mb-10{
    margin-bottom: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-35{
    margin-top: 35px
}
.plmt{
    padding-left: 27px;
    margin-top: 20px;
}
.links{
    text-decoration: none;
    color: black;
}
.mt-25{
    padding-top: 25px;
}
.footer{
    background-color: white;
}
.created_name{
    color:  rgb(176, 10, 113);
}
.contactus button{
    border-radius: 15px;
}

.contactus button:hover{
    background-color:  rgb(176, 10, 113);
    border: 1px solid white;
}
.pt-36{
    padding-top: 30px;
}  